/* Style for mobile screens */
@media screen and (max-device-width: 499px) {
    /* Style the header with smaller padding and larger font*/
    .header {
        padding: 20px;
        padding-bottom: 20px;
        text-align: center;
        color: black;
        background-color: rgb(149, 212, 236);
        font-size: 50px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Style the header to align in the center and have a font size of 50 for mobile screens */
    .header2 {
        text-align: center;
        color: rgb(51, 26, 26);
        font-size: 50px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Table width should be 100% for mobile screens to make it easier to see */
    table {
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Add padding to the top and bottom of each image so that they don't overlap */
    img {
        max-height: 400px;
        max-width: 90%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    /* Create a single flex column for mobile viewing */
    .flex-grid-halves {
        display: flex;
        flex-direction: column;
    }
        /* This flex column should fill 100% of the width of the screen */
        .flex-grid-halves>* {
            flex: 0 0 100%;
        }
}

/* Style for desktops */
@media screen and (min-device-width: 500px) {

    /* Style the header with larger padding to fit the size of the screen */
    .header {
        padding: 40px;
        text-align: center;
        color: black;
        background-color: rgb(149, 212, 236);
        font-size: 50px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Style the header with smaller font and the most popular */
    .header2 {
        text-align: center;
        color: rgb(51, 26, 26);
        font-size: 30px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Style the table to take up 50% of the page for a desktop screen */
    table {
        width: 50%;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Style 2 flex columns to show pictures and accompanying text side by side */
    .flex-grid-halves {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

        .flex-grid-halves>* {
            flex: 0 0 50%;
        }

    /* Style images to have padding on the right and left */
    img {
        max-height: 400px;
        max-width: 90%;
        padding-right: 5%;
        padding-left: 5%;
    }
}

/* Pad the top of each page so that content is not covered by the header and nav bar */
.content {
    padding-top: 200px;
}

/* Style h4 */
h4 {
    font: italic;
    color: rgb(38, 38, 78);
    font-family: Arial, Helvetica, sans-serif;
}

/* Add font styling */
h3 {
    font-family: Arial, Helvetica, sans-serif;
}

/* Add paragraph styling */
p {
    font-family: Arial, Helvetica, sans-serif;
}

/* Create a sticky nav bar and header*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Style my nav bar */
nav ul {
    padding: 10px;
    list-style: none;
    font-weight: bold;
    font-size: medium;
    background-color: rgb(161, 136, 189);
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* Add styling to the font and display of text on the navbar */
nav ul li {
    display: inline;
    margin-right: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Add styling to the font and display of text on the navbar */
nav ul li a {
    text-decoration: none;
    color: white;
    text-align: center;
}

/* Add styling for when a user */
nav ul li a:hover {
    text-decoration: underline;
}

/* Do not create a list for anything within ul li */
ul.posts li {
    list-style: none;
}

/* Style span colors and padding so that a user will know which page they are actively viewing*/
li span {
    background-color: rgb(137, 93, 189);
    padding: 10px;
}

/* Style each grid of the flex columns to have a width of 90% and to center vertically */
.grid {
    width: 90%;
    display: grid;
    margin: auto;
}