        /* Creates our header style */
        .header {
            text-align: center;
            background: #17c4a1;
            color: white;
            font-size: 30px;
        }

        /* Pad the top of page content so the header doesn't overwrite anything along the top of the page */
        .content {
            padding-top: 150px;
        }

        /* Create a sticky header */
        .sticky {
            position: fixed;
            top: 0;
            width: 100%
        }
