/* Creates our header style */
.header {
    text-align: center;
    color: black;
    font-size: 30px;
}

/* Pad the top of page content so the header doesn't overwrite anything along the top of the page */
.content {
    padding-top: 150px;
}

/* Create a sticky header */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
nav ul, footer ul {
    font:"Arial";
    padding: 0px;
    list-style: none;
}